.mob-kids-banner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 300px;
}

.mob-kids-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 300px;
  min-width: 320px;
  max-width: 736px;
  padding: 0 10px 20px;

  &-header {
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin: 20px auto;
  }

  &-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: inherit;
  }

  &-boy {
    width: 40%;
    height: 156px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-description {
    width: 60%;
    height: inherit;
    font-family: PFAgoraSlabPro;

    img {
      width: 90%;
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      line-height: 1.43;
      text-align: left;
      color: #ffffff;
      padding-bottom: 20px;
    }
  }

  &-btn {
    width: 150px;
    height: 32px;
  }

  .bold-text {
    font-family: ProximaNova-Extrabld;
  }
}