.footer-social {
  position: absolute;
  right: 0;
  bottom: 26px;

  &-link {
    display: inline-block;
    height: auto;
    margin-left: 12px;
    &:first-child {
      margin-left: 0;
    }
  }

  &.mobile {
    position: static;
  }
}