@mixin flex-container($justify:"center", $align:"center") {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}


@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}